{% include "header.html" %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="md-6">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">mail_outline</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title"><b>Course Channels</b></h4>
                        <div class="toolbar" style="display: flex; justify-content: flex-end; align-items: center; margin-top: -50px;">
                            <button id="toggleCreateCourseForm" class="btn btn-rose">Create Course</button>
                            <div id="createCourseForm" style="display: none; margin-right: 10px;">
                                <form role="form" action="{{ url_for('groups') }}" method="post">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Course Name</label>
                                        <input type="text" style="width: 250px;" class="form-control" name="group_name" required>
                                    </div>
                                    <button type="submit" class="btn btn-rose">Create Course</button>
                                    <button id="hideCreateCourseForm" class="btn btn-danger">Close</button>
                                </form>

                            </div>
                        </div>
                    </div>
                        <div class="material-datatables" style="margin:20px 20px;" >
                            <div style="cursor: pointer;" >
                            {% for item in data %}
                            <div class="row clickable-row" style="box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; border-radius:10px; padding:10px;" href='/agrouplist?group_id={{ item[0] }}&action=view_members&groupteacher={{ session.user_name }}&groupname={{ item[1] }}'>
                                <div class="col-md-6 text-left" style="padding:20px; text-transform: uppercase; font-size:20px;" >
                                    {{ item[1] }}
                                </div>
                                <div class="col-md-6 text-right" >
                                <a class="btn btn-danger btn-sm" href='delete?id={{ item[0] }}&tname=groups' onclick="return confirm('Are you sure you want to remove this group?')">Delete  <i class="material-icons">close</i></a>
                                </div>
                            </div>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->
    </div>
</div>

{% include "footer.html" %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }

        });


        var table = $('#datatables').DataTable();

        // Edit record
        table.on('click', '.edit', function() {
            $tr = $(this).closest('tr');

            var data = table.row($tr).data();
            //alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        });

        // Delete a record
        table.on('click', '.remove', function(e) {
            $tr = $(this).closest('tr');
            table.row($tr).remove().draw();
            e.preventDefault();
        });

        //Like record
        table.on('click', '.like', function() {
            alert('You clicked on Like button');
        });

        $('.card .material-datatables label').addClass('form-group');
    });

	$('.header_nav').removeClass('active');
	$('.groups').addClass('active');
	$('#header_page_title').html('Course Channel');
    $(document).on('click', '.clickable-row', function() {
        window.location = $(this).attr('href');
    });
     document.getElementById('toggleCreateCourseForm').addEventListener('click', function () {
        var createCourseForm = document.getElementById('createCourseForm');
        createCourseForm.style.display = createCourseForm.style.display === 'none' ? 'flex' : 'none';

        // Toggle visibility of the "Create Course" button
        document.getElementById('toggleCreateCourseForm').style.display = createCourseForm.style.display === 'none' ? 'block' : 'none';
    });

    document.getElementById('hideCreateCourseForm').addEventListener('click', function () {
        var createCourseForm = document.getElementById('createCourseForm');
        createCourseForm.style.display = 'none';

        // Show the "Create Course" button when closing the form
        document.getElementById('toggleCreateCourseForm').style.display = 'block';
    });
</script>

