{% include "header.html" %}
 <div class="content" style="font-size:18px;">
                <div class="container-fluid">
                    <div class="row">
                          {% if data1 != "" %}
						<div class="col-md-6">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="purple">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">

                                    <h4 class="card-title" style="text-transform:capitalize;"><b>Course :</b> {{ groupname }} &nbsp; <b> Teacher :</b> {{ groupteacher }} </h4>

                                        <div class="form-group label-floating">
                                             <div class="material-datatables">

                                        <table id="datatables1" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%; text-transform:capitalize;">
                                            <thead>
                                                <tr>
                                                    <th><b>STUDENTS</b></th>


                                                </tr>
                                            </thead>
                                            <tbody>
												{% for item in data1 %}
                                                <tr>

                                                    <td>{{ item[0] }}&nbsp;{{ item[1] }}</td>

												 </tr>
												{% endfor %}
											</tbody>
                                        </table>
                                    </div>
                                        </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                        <div class="card">
                            <div class="card-header card-header-icon" data-background-color="blue">
                                <i class="material-icons">file_upload</i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title"><b>File Sharing</b></h4>
                                <form action="/grouplist?group_id={{ group_id }}&user_id={{ user_id }}&action=file_share" method="post" enctype="multipart/form-data">
                                    <input type="file" name="file">
                                    <button type="submit" class="btn btn-primary">Upload</button>
                                </form>
                                {% if file_data %}
                                <h5>Shared Files:</h5>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>File Name</th>
                                            <th>Uploaded By</th>
                                            <th>Upload Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for file in file_data %}
                                            <tr>
                                                <td>{{ file[3] }}</td>  {# Assuming 'file_name' is at index 3 #}
                                                <td>{{ file[5] }}</td>  {# Assuming 'uploaded_by' is at index 5 #}
                                                <td>{{ file[4].strftime('%Y-%m-%d %H:%M:%S') }}</td>  {# Assuming 'upload_datetime' is at index 4 #}
                                                <td>
                                                    <a href="{{ url_for('download_file', filename=file[3]) }}">Download</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    </div>
                    <!-- end row -->
                </div>
            </div>

                      {% endif %}


                        <div class="md-6" style="margin-top:-60px; ">
                            <div class="card">
                                <div class="card-header card-header-icon" style="margin-top:-7px;" data-background-color="purple">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title"><b>Courses</b></h4>
                                    <div class="toolbar">
                                    </div>
                                    <div class="material-datatables" style="margin: 20px 20px;">

                                    {% for item in data %}
                                    <div class="row clickable-row" href='/grouplist?group_id={{ item[0] }}&action=view_members&groupteacher={{ item[3] }}&nbsp;{{ item[4] }}&groupname={{ item[1] }}' style="cursor:pointer; box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; border-radius: 10px; padding: 10px; margin-bottom:15px;">
                                        <div style="margin-top:20px;text-transform: uppercase;" class="col-md-2"><b>{{ item[1] }}</b></div>
                                        <div style="margin-top:20px;" class="col-md-3">TEACHER : {{ item[3] }}&nbsp;{{ item[4] }}</div>
                                        <div class="col-md-3 text-right">
                                            <a href='/join?group_id={{ item[0] }}' class="btn btn-primary">Join Meeting</a>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <a class="btn btn-danger" href='/grouplist?group_id={{ item[0] }}&rurl=grouplist&action=remove' onclick="return confirm('Are you sure you want to leave this Course?')"><b>Leave</b></a>
                                        </div>
                                    </div>
                                    {% endfor %}


                                </div>
                                <!-- end content-->
                            </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->



                    </div>
                    <!-- end row -->

                </div>
            </div>

{% include "footer.html" %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search Course",
            }

        });


        var table = $('#datatables').DataTable();

        // Edit record
        table.on('click', '.edit', function() {
            $tr = $(this).closest('tr');

            var data = table.row($tr).data();
            //alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        });

        // Delete a record
        table.on('click', '.remove', function(e) {
            $tr = $(this).closest('tr');
            table.row($tr).remove().draw();
            e.preventDefault();
        });

        //Like record
        table.on('click', '.like', function() {
            alert('You clicked on Like button');
        });

        $('.card .material-datatables label').addClass('form-group');
    });

	$('.header_nav').removeClass('active');
	$('.grouplist').addClass('active');
	$('#header_page_title').html('Course Channel');


    $(document).on('click', '.clickable-row', function() {
        window.location = $(this).attr('href');
    });



</script>

