{% include "header.html" %}
    <style>
        #root {
            width: 100%;
            height: 100vh;
            }
        .modal {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, .5);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index:999999;
        }

        .modal .content {
            background: #fff;
            display: inline-block;
            padding: 2rem;
            position: relative;
        }

        .modal .content h4 {
            margin-top: 0;
        }

        .modal .content a.close {
            position: absolute;
            top: 1rem;
            right: 1rem;
            color: inherit;
        }

    </style>

<body>

<div id="root"></div>


{% if session.user_role == 'student' %}
    <input type="hidden" id="randomTime" value="{{ random_time }}">

<div class="col-md-12 modal" id="myattenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
        <div class="col-md-4 col-sm-6 col-md-offset-1">

            <div class="container-fluid">
                    <div class="row">
                        <div class="col1-md-6">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="purple">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Mark your attendance</h4>
                                    <div class="toolbar">
                                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                                    </div>

                                         <h4 class="card-title"></h4>

                                        <input type="button" name="reject" value="Reject" class='btn btn-fill btn-orange pull-left' onclick="$('.modal').css('visibility', 'hidden');">
                                        <a id="manuala"><input type='button' class='btn btn-next btn-fill btn-rose btn-wd pull-right' onclick="$('.modal').css('visibility', 'hidden'), openWin();" name='Mark attendance' value='Mark attendance' /></a>

                                </div>
                                <!-- end content-->
                            </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->

                    </div>
                    <!-- end row -->
                </div>

        </div>
</div>

{% endif %}


</body>
<script src="https://unpkg.com/@zegocloud/zego-uikit-prebuilt/zego-uikit-prebuilt.js"></script>
<script>
window.onload = function () {
    function getUrlParams(url) {
        let urlStr = url.split('?')[1];
        const urlSearchParams = new URLSearchParams(urlStr);
        const result = Object.fromEntries(urlSearchParams.entries());
        const urlParams = new URLSearchParams(window.location.search);
        const roomID = urlParams.get("roomID");
        return result;
    }


        // Generate a Token by calling a method.
        // @param 1: appID
        // @param 2: serverSecret
        // @param 3: Room ID
        // @param 4: User ID
        // @param 5: Username
    const roomID = getUrlParams(window.location.href)['roomID'] || (Math.floor(Math.random() * 10000) + "");
    const userID = Math.floor(Math.random() * 10000) + "";
    const userName = "{{session.user_name}}";
    const appID = 72223338;
    const serverSecret = "af3feab36494959e18e30824f92a9d89";
    const kitToken = ZegoUIKitPrebuilt.generateKitTokenForTest(appID, serverSecret, roomID, userID, userName);


        const zp = ZegoUIKitPrebuilt.create(kitToken);
        zp.joinRoom({
            container: document.querySelector("#root"),
            sharedLinks: [{
                name: 'Personal link',
                url: window.location.protocol + '//' + window.location.host  + window.location.pathname + '?roomID=' + roomID,
            }],
            scenario: {
                mode: ZegoUIKitPrebuilt.VideoConference,
            },

           	turnOnMicrophoneWhenJoining: true,
           	turnOnCameraWhenJoining: true,
           	showMyCameraToggleButton: true,
           	showMyMicrophoneToggleButton: true,
           	showAudioVideoSettingsButton: true,
           	showScreenSharingButton: true,
           	showTextChat: true,
           	showUserList: true,
           	maxUsers: 50,
           	layout: "Auto",
           	showLayoutButton: true,

            });
}
</script>

<script type="text/javascript">
$(document).ready(function(){
  // Check if the user role is 'student'
  {% if session.user_role == 'student' %}

    let lastcnt1 = {{ session.random_attendance_id }};
    let cnt1;

    // Define a function to check and show the modal based on random_time
    function checkAndShowModal() {
      $.ajax({
        url: '/countTodayAttenScan',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
          cnt1 = data.random_attendance_id;
          if (cnt1 != "" && cnt1 != lastcnt1) {
            // Show the modal here
            $('#myattenModal').show();
            $('#myattenModal').css('visibility', 'visible');

            // Use setTimeout to hide the modal after 60 seconds
            setTimeout(function() {
              $('#myattenModal').hide();
              $('#myattenModal').css('visibility', 'hidden');
            }, 60000); // 60 seconds in milliseconds
          }
          lastcnt1 = cnt1;
        },
        error: function(result) {
          console.log('no result!');
        }
      });
    }

    // Check for the modal based on random_time
    checkAndShowModal();

    // Use setInterval to periodically check and show the modal
    const interval = 5000; // Check every 5 seconds
    setInterval(checkAndShowModal, interval);

  {% endif %}


});
let myWindow;
function openWin() {
  myWindow = window.open('/fr_page', 'myWindow', 'width=600,height=700');
}

</script>


{% include "footer.html" %}